<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>MC Modpack Creator</h1>
    </header>
    <main>
            <h2>Project Loaded: {{ project.title }}</h2>
            <form action="{{ url_for('main.load_project') }}" method="post">
                <button type="submit">Load Project</button>
            </form>
            <form action="{{ url_for('main.create_project') }}" method="post">
                <button type="submit">Create Project</button>
            </form>
            {% if project.metadata["loaded"] %}
                <h1>{{ project.title }}</h1>
                <h2>Description</h2>
                <p>{{ project.description }}</p>
                <h2>Mods</h2>
                <ul>
                    {% for mod in project.mod_data %}
                        <li>{{ mod.title }} - {{ mod.version_number }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
    </main>
</body>
</html>
