<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ modpack.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_project.css') }}">
</head>
<body>
    <header>
        <h1>{{ modpack.title }}</h1>
    </header>
    <main>
        <h2>Description</h2>
        <p>{{ modpack.description }}</p>
        <h2>Mods</h2>
        <ul>
            {% for mod in mods %}
                <li>{{ mod.title }} - {{ mod.version_number }}</li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
